<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Timebase</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>cc.timebase.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>timebase</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Timebase shows your upcoming events as live countdowns.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Timebase uses your location to set your home city.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSUbiquitousKeyValueStoreUsageDescription</key>
	<string>Timebase syncs your cities across your devices via iCloud.</string>
	<key>UIAppFonts</key>
	<array>
		<string>CrimsonText-SemiBold.ttf</string>
		<string>DepartureMono-Regular.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Plan a meeting</string>
			<key>UIApplicationShortcutItemType</key>
			<string>cc.timebase.shortcut.scheduler</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeDate</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Up Next</string>
			<key>UIApplicationShortcutItemType</key>
			<string>cc.timebase.shortcut.upnext</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeFavorite</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Settings</string>
			<key>UIApplicationShortcutItemType</key>
			<string>cc.timebase.shortcut.settings</string>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
</dict>
</plist>
